
/* RESETTING DEFAUL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE SYLE */

.app {
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin: 0 auto;
    padding: 0;

}

/* STYLES */

.navbar {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar__list {
    text-align: center;
    margin: 0px auto;
}

.navbar__iten {
    display: inline-block;
}

.navbar__iten:hover > a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.navbar__iten > a:focus {
    background-color: #ed5565;
}

.navbar__iten > a {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffffcc;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.section-1 {
    margin: 35px auto;
    padding: 10px 20px;
    text-align: center;
    background: url(./assets/images/programing-blog.jpg);
    background-size: cover;
    height: 1000px;
    width: 100%;
}

.example-text {
    border: 2px solid #edab55;
    border-radius: 14px;
    background-color: #333333;
    padding: 10px;
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
    
}

.title {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ed5565;
    text-align: center;
}